$bodyColor: #313131;
$columnColor1: #434343;
$columnColor2: #363636;
$columnColor3: #FFCA42;
$Color1: #fff;
$Color2: #000;
$bgName: #171717;
$historyBg: #676767;
$compositionBg: #474747;
$theBestHitsBg: #313131;