@import 'color';


$containerWidth: 1500px;
$heightContainer: 800px;
$hide: 0;
$show: 1;

body {
    margin: 0px;
    background-color: $bodyColor;
    font-family: Arial, Helvetica, sans-serif;

    header {
        color: $Color1;
        margin-left: -100px;
        opacity: $hide;
        animation-name: margLeft;
        animation-delay: 5s;
        animation-duration: 4s;
        animation-fill-mode: forwards;

    }
        p{
            font-size: 40px;
            text-align: center
        }
        .p1{
            margin-left: -140px;
        }
        .p2{
            margin-left: 70px;
            margin-top: -50px;
        }
        .p3{
            margin-left: 320px;
            margin-top: -50px;
        }
}

.container{
    width: $containerWidth;
    height: $heightContainer;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(8%);
}

@keyframes appear {
    from{
        opacity: $hide;
    }
    to{
        opacity: $show;
    }
}

@mixin columns {
    width: $containerWidth - 1000;
    height: $heightContainer;
    float: left;
    animation-name: appear;
    animation-duration: 3s;
}

.column1{
    @include columns();
    background-color: $columnColor1;
}
.column2{
    @include columns();
    background-color: $columnColor2;
}
.column3{
    @include columns();
    background-color: $columnColor3;
}

@keyframes margLeft {
    from{
        opacity: $hide;
        transform: translateX(-500px)
    }
    to{
        opacity: $show;
        transform: translateX(0)
    }
}

.quotaion{
    width: $containerWidth - 1050;
    height: 260px;
    background-color: $Color1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    opacity: $hide;
    animation-name: margLeft;
    animation-delay: 3s;
    animation-duration: 4s;
    animation-fill-mode: forwards;

    p{
        text-align: center;
        font-size: 21px;
        padding: 50px;
    }
}

.name{
    width: 350px;
    height: 30px;
    background-color: $bgName;
    margin-left: auto;
    margin-right: auto;
    color: $Color1;
    text-align: center;
    font-size: 23px;
    padding: 30px;
    margin-top: -40px;
    opacity: $hide;
    animation-name: margLeft;
    animation-delay: 5s;
    animation-duration: 4s;
    animation-fill-mode: forwards;

}

.image{
    border-radius: 50%;
    width: 700px;
    height: 700px;
    margin-left: -400px;
    margin-top: 50px;
}

@keyframes margRight {
    from{
        opacity: $hide;
        transform: translateX(500px)
    }
    to{
        opacity: $show;
        transform: translateY(0)
    }
}

@mixin pages {
    width: 90px;
    height: 90px;
    margin-left: 320px;
    color: $Color1;
    text-align: center;
    font-size: 30px;
    padding: 40px;
    opacity: $hide;
    animation-name: margRight;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#history{
    @include pages();
    background-color: $historyBg;
    margin-top: -475px;
    animation-delay: 5s;
}

#composition{
    @include pages();
    background-color: $compositionBg;
    animation-delay: 6s;
}

#theBestHits{
    @include pages();
    background-color: $theBestHitsBg;
    animation-delay: 7s;
}

#NewTitle{
    color: #313131;
}